.login2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr6wFO91ABW6Tc52mNGHbHsKPth-4qe0OZLA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  }
  
  .lContainer2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    padding: 20px;
   
    height: 550px;
    width: 200px;
    margin-bottom: 100px;
    margin-right: 30px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }
  .message{
    color: white;
    font-weight: bold;
  }
  .lContainer>h1{
   
    color: white;
    width: 250px;
    font-size: 50pxpx;
    margin-left: 15px;
   
    
  }
  .shr{
    color: white;
  }
  .sh1{
    font-weight:bold;

  }
  .sp{
    color:white;
  }