.terms{
    width: 100%;
    max-width: 1024px;
    margin-left: 100px;
}
.logo5{
    margin-left: 400px;
    height: 400px;
    width: 400px;
    margin-top: 50px;
    border-style: dotted;
}
.ft{
    margin-left: 180px;
}